<body style="background-color:beige;">
<style>
h3 {
    padding: 40px;
    text-align: center;
}
.stuff {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
</style>
    
<h3>Main Page</h3>
<div class="stuff">
    <% if(user.fullname === undefined && user.address1 === undefined &&  user.address2 === undefined &&  user.address1 === undefined && user.states === undefined && user.zip === undefined) { %>
        <script>
            alert('Please fill out Profile information before continuing to the form')
        </script>
        <a href="/profmgmt">Profile Management</html>
    <%}else{%>
        <a href="/profmgmt">Profile Management</html>
        <a href="/quoteform">Quote Form</html>
        <a href="/quotehist">Quote History</html>
        <%}%>
</body>
<form action="/logout" method="POST">
    <button type="submit">Log Out</button>
  </form>
</div>