<body style="background-color:beige;">
<style>
h3 {
    padding: 40px;
    text-align: center;
}
.stuff {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
</style>
    
<h3>Main Page</h3>
<div class="stuff">
<a href="/profmgmt/<%= locals.userId %>">Profile Management</html>
<a href="/quoteform/<%=locals.userId %>">Quote Form</html>
<a href="/quotehist/<%= locals.userId %>">Quote History</html>
</body>
</div>